##############################################################################
##############################################################################
#
# NOTE!
#
# Please read the README.md file in this directory that defines what should
# be placed in this file
#
##############################################################################
##############################################################################

name: PUSH Workflow - All Branches

on:
  push:
    branches:
      - '**'

env:
  CODECOV_UNIQUE_NAME: CODECOV_UNIQUE_NAME-${{ github.run_id }}-${{ github.run_number }}

jobs:
  Code-Coverage:
    if: ${{ github.actor != 'dependabot[bot]' }}
    name: Test and Calculate Code Coverage
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x, 20.x, 24.11.1]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run Vitest Tests
        env:
          NODE_V8_COVERAGE: './coverage/vitest'
        run: |
          pnpm run test:coverage

      - name: Present and upload coverage to Codecov as ${{env.CODECOV_UNIQUE_NAME}}
        if: matrix.node-version == '24.11.1'
        uses: codecov/codecov-action@v5
        with:
          name: '${{env.CODECOV_UNIQUE_NAME}}'
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: false
          verbose: true
          exclude: 'docs/'
          gcov_ignore: 'docs/'
          files: ./coverage/vitest/lcov.info
          flags: vitest

  Test-Npm:
    if: ${{ github.actor != 'dependabot[bot]' }}
    name: Test with npm@11
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24.11.1
          check-latest: false

      - name: Install npm@11
        run: npm install -g npm@11

      - name: Install dependencies
        run: npm ci

      - name: Run Tests
        run: npm test
